*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--blue-navy-color);
}
.content {
    margin: 5px 16%;
}

h3.cn_td {
    font-size: 33px;
    margin: 20px;
}
h1.cn_td {
    font-size: 35px;
}

p.cn_nd {
    font-size: 22px;
}
.cn_nd {
    white-space: pre-line;
}
.cn_nd {
    text-indent: 2em; /* hoặc giá trị bạn muốn, ví dụ 20px */
}

body{
    background: var(--ivory-white-color);
}

:root {
  --primary-color:#272625;
  --secondary-color:#f4c70f;
  --ivory-white-color:#fdf6e3;
  --creamy-yellow-color:#f5e1a4;
  --light-brown-color:#c8a97e;
  --blue-navy-color:#002147;
}
